.table-img {
    text-align: center;
}

.table-img img {
    max-width: 100%;
    max-height: 50px;
}

.img-preview
{
    width: 150px;
    height: auto;
}

.card-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border-color: #006fe6;
    color: #fff;
    padding: 0 10px;
    margin-top: .31rem;
}

.card-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255,255,255,.7);
    float: right;
    margin-left: 5px;
    margin-right: -2px;
}

.card-body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #ffffff;
}

.card-body .select2-container .select2-selection--single {
    height: 38px;
}

.card-body .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.alert p {
    margin-bottom: 0;
}
