html {
    cursor: default;
}

.leave-comment textarea {
    padding: 6px 12px;
    height: 40px;
    line-height: inherit;
}

.bottom-comment {
    margin: 10px 0;
    .comment-header {
        height: 50px;
        position: relative;
        margin-bottom: 10px;

        .comment-img {
            padding-top: 0;
            padding-left: 0;
            float:none;
            display: inline-block;
            vertical-align: top;

            .img-circle {
                width: 40px;
                height: 40px;
            }
        }

        .comment-info {
            display: inline-block;

            h5 {
                margin: 5px 0 0;
            }

            .comment-date {
                line-height: inherit;
            }
        }
    }
}

.post {
    margin-bottom: 20px;
}
