.error-wrapper {
  text-align: center;
  background-color: #D4D9ED;
  height: 70vh;
  margin-bottom: 30px;
  color: #FFF;
  font-family: "Varela Round", Sans-serif;
  text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}

.cont_principal {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.cont_error {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  margin-top: -150px;
}

.cont_error > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 150px;
  color: #fff;
  position: relative;
  left: -100%;
  transition: all 0.5s;
}

.cont_error > p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 5px;
  color: #9294AE;
  position: relative;
  left: 100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
}

.cont_aura_1 {
  position: absolute;
  width: 300px;
  height: 120%;
  top: 25px;
  right: -340px;
  background-color: #8A65DF;
  box-shadow: 0px 0px 60px 20px rgba(137, 100, 222, 0.5);
  transition: all 0.5s;
}

.cont_aura_2 {
  position: absolute;
  width: 100%;
  height: 300px;
  right: -10%;
  bottom: -301px;
  background-color: #8B65E4;
  box-shadow: 0px 0px 60px 10px rgba(131, 95, 214, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.cont_error_active > .cont_error > h1 {
  left: 0%;
}

.cont_error_active > .cont_error > p {
  left: 0%;
}

.cont_error_active > .cont_aura_2 {
  -webkit-animation-name: animation_error_2;
          animation-name: animation_error_2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: rotate(-20deg);
}

.cont_error_active > .cont_aura_1 {
  transform: rotate(20deg);
  right: -170px;
  -webkit-animation-name: animation_error_1;
          animation-name: animation_error_1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animation_error_1 {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(25deg);
  }
}

@keyframes animation_error_1 {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(25deg);
  }
}

@-webkit-keyframes animation_error_2 {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

@keyframes animation_error_2 {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

.error-wrapper .button {
  background: linear-gradient(#EC5DC1, #D61A6F);
  padding: 0 12px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  outline: none;
  color: #FFF;
  font: 400 16px/2.5 Nunito, "Varela Round", Sans-serif;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.error-wrapper .button:hover {
  color: #fff;
}

