html {
  cursor: default;
}

.leave-comment textarea {
  padding: 6px 12px;
  height: 40px;
  line-height: inherit;
}

.bottom-comment {
  margin: 10px 0;
}

.bottom-comment .comment-header {
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}

.bottom-comment .comment-header .comment-img {
  padding-top: 0;
  padding-left: 0;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.bottom-comment .comment-header .comment-img .img-circle {
  width: 40px;
  height: 40px;
}

.bottom-comment .comment-header .comment-info {
  display: inline-block;
}

.bottom-comment .comment-header .comment-info h5 {
  margin: 5px 0 0;
}

.bottom-comment .comment-header .comment-info .comment-date {
  line-height: inherit;
}

.post {
  margin-bottom: 20px;
}

